APP_NAME=Voley Diloz
APP_URL=http://localhost/voley_playa
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=3306
DB_NAME=voley_diloz
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

SESSION_NAME=voley_diloz_session
