:root {
    /* Paleta Principal */
    --bg-main: #121416;
    --bg-sidebar: #1a1d20;
    --bg-card: #2c3136;
    --accent-cyan: #0dcaf0;
    --accent-red: #ff4d4d;
    --text-primary: #ffffff;
    --text-muted: #adb5bd;
    
    /* Espaciados y bordes */
    --radius-lg: 16px;
    --radius-md: 12px;
    --transition: all 0.3s ease;
}